UCS_BASE_URL=http://someip
PORTAL_FRONTEND_BASE_URL=http://172.17.0.1:8080
PORTAL_SERVER_BASE_URL=http://172.17.0.1:8095
NOTIFICATIONS_BASE_URL=http://172.17.0.1:8096
OPA_SELF_SERVICE=http://172.17.0.1:8098
OPA_URL=http://172.17.0.1:8181
PROXY_PORT=8000
