repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: b0f11fe
    hooks:
      - id: check-merge-conflict
        name: check for merge conflicts
        description: Checks for files that contain merge conflict strings.
        entry: check-merge-conflict
        types: [text]
      - id: end-of-file-fixer
        name: fix end of files
        description: Ensures that a file is either empty, or ends with one newline.
        entry: end-of-file-fixer
        exclude: ^helm/.+/README.md
      - id: trailing-whitespace
        name: trim trailing whitespace
        description: Trims trailing whitespace.
        entry: trailing-whitespace-fixer
      - id: check-executables-have-shebangs
        name: check that executables have shebangs
        description: Ensures that (non-binary) executables have a shebang.
        entry: check-executables-have-shebangs
        language: python
        types: [text, executable]

  # "Commit messages"
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.0.264'
    hooks:
      - id: ruff
      - id: ruff
        alias: "ruff-fix"
        stages: [ manual ]
        args: ["--fix"]
  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.2
    hooks:
      - id: autopep8
        args: ["-d"]
      - id: autopep8
        alias: "autopep8-fix"
        stages: [ manual ]
        args: ["-i"]

  # "docker-compose.yaml linter"
  # - repo: https://gitlab.com/univention/pre-commit-hooks/docker-compose-check
  #   rev: 7702a8801a158b8595569dd29e2dd655d8a08310
  #   hooks:
  #   - id: docker-compose-check

  # "Dockerfile linter"
  - repo: https://gitlab.com/univention/pre-commit-hooks/docker-pre-commit
    rev: v2.0.0
    hooks:
    - id: hadolint-system

  # "Helm chart linter"
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.20
    hooks:
    - id: helmlint

  # "Helm docs linter"
  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.11.0
    hooks:
      - id: helm-docs
        args:
          # Make the tool search for charts only under the `helm` directory
          - --chart-search-root=helm
        description: Uses 'helm-docs' to create documentation from the Helm chart's 'values.yaml' file, and inserts the result into a corresponding 'README.md' file.
        entry: git-hook/helm-docs
        files: (README\.md\.gotmpl|(Chart|requirements|values)\.yaml)$
        language: script
        name: Helm Docs
        require_serial: true
      - id: helm-docs-built
        args:
          # Make the tool search for charts only under the `helm` directory
          - --chart-search-root=helm
        description: Uses auto built 'helm-docs' to create documentation from the Helm chart's 'values.yaml' file, and inserts the result into a corresponding 'README.md' file.
        entry: helm-docs
        files: (README\.md\.gotmpl|(Chart|requirements|values)\.yaml)$
        language: golang
        name: Helm Docs Built
        require_serial: true

  # - repo: https://github.com/Lucas-C/pre-commit-hooks
  #   rev: v1.5.1
  #   hooks:
  #     - id: insert-license
  #       name: insert license in python files
  #       description: Insert license in Python files.
  #       files: handler\/.*\.py$
  #       args:
  #         - --license-filepath
  #         - license_header.txt
  #         - --use-current-year
  #         - --detect-license-in-X-top-lines=35
  #     - id: insert-license
  #       name: insert license in node files
  #       description: Insert license in NodeJS files.
  #       files: proxy\/.*\.js$
  #       exclude: proxy/public/fingerprintjs/v3.js
  #       args:
  #         - --license-filepath
  #         - license_header.txt
  #         - --comment-style
  #         - /*| *| */
  #         - --use-current-year
  #         - --detect-license-in-X-top-lines=35
