version: "3.9"
services:
  opa:
    image: openpolicyagent/opa:0.51.0
    container_name: self-service-opa
    restart: unless-stopped
    command: run --server --log-level debug
    volumes:
      - ./opa/policies:/policies
    ports:
      - 8181:8181

  self-service-api:
    image: self-service-api:latest
    container_name: opa-self-service-api
    restart: unless-stopped
    build: ./src
    ports:
      - 8097:8000

  portal-server:
    platform: "linux/amd64"
    image: registry.souvap-univention.de/souvap/tooling/images/univention-portal/portal-server:latest
    container_name: univention-portal-server
    env_file: .env
    ports:
      - 8095:80
    environment:
      PORTAL_SERVER_ADMIN_GROUP: "cn=Domain Admins,cn=groups,dc=univention,dc=test"
      PORTAL_SERVER_AUTH_MODE: "ucs"
      PORTAL_SERVER_EDITABLE: "true"
      PORTAL_SERVER_PORT: "80"
      PORTAL_SERVER_UCS_INTERNAL_URL: "http://172.17.0.1:8000/univention/internal"
      PORTAL_SERVER_UMC_GET_URL: "http://172.17.0.1:8000/univention/internal/umc/get"
      PORTAL_SERVER_UMC_SESSION_URL: "http://172.17.0.1:8000/univention/internal/umc/get/session-info"
      PORTAL_SERVER_AUTH_SECRET: "univention"

  portal-frontend:
    image: registry.souvap-univention.de/souvap/tooling/images/univention-portal/portal-frontend:latest
    container_name: univention-portal-frontend
    ports:
      - 8080:80

  database:
    image: postgres:12.13-alpine
    container_name: notifications-api-database
    environment:
      POSTGRES_PASSWORD: "devpassword"
      POSTGRES_USER: "dev"
    volumes:
      - type: volume
        source: postgresql-data
        target: /var/lib/postgresql/data
    ports:
      - 5432:5432

  notifications-api:
    image: registry.souvap-univention.de/souvap/tooling/images/univention-portal/notifications-api:latest
    container_name: notifications-api
    restart: on-failure
    depends_on:
      - database
    environment:
      DATABASE_URL: "postgresql://dev:devpassword@database/dev"
      APPLY_DATABASE_MIGRATIONS: true
      ROOT_PATH: "/univention/portal/notifications-api"
    ports:
      - 8096:8080

  reverse-proxy:
    build:
      context: ./nginx
    container_name: univention-portal-dev-reverse-proxy
    env_file: .env
    ports:
      - "${PROXY_PORT}:80"

volumes:
  postgresql-data:
