version: "3.9"
services:
  opa:
    platform: "linux/amd64"
    image: self-service-opa:latest
    container_name: self-service-opa
    build: ./opa
    restart: unless-stopped
    command: run --server --log-level debug --format pretty --watch /bundles
    volumes:
      - ./opa:/bundles
    ports:
      - 8181:8181

  opa-test:
    profiles:
      - test
    image: openpolicyagent/opa:0.51.0
    container_name: self-service-opa
    restart: unless-stopped
    command: test --format pretty --verbose /bundles
    volumes:
      - ./opa:/bundles

  self-service-api:
    image: self-service-api:latest
    container_name: opa-self-service-api
    restart: unless-stopped
    build: ./src
    command: [ '--reload' ]
    volumes:
      - type: bind
        source: ./src
        target: /app
    ports:
      - 8098:8000
    environment:
      UCS_SELFSERVICE_BASE_URL: "${UCS_SELFSERVICE_BASE_URL}"
      OPA_URL: "${OPA_URL}"

  portal-server:
    platform: "linux/amd64"
    image: registry.souvap-univention.de/souvap/tooling/images/univention-portal/portal-server:latest
    container_name: univention-portal-server
    env_file: .env
    ports:
      - 8095:80
    environment:
      PORTAL_SERVER_ADMIN_GROUP: "cn=Domain Admins,cn=groups,dc=univention,dc=test"
      PORTAL_SERVER_AUTH_MODE: "saml"
      PORTAL_SERVER_EDITABLE: "true"
      PORTAL_SERVER_PORT: "80"
      PORTAL_SERVER_UCS_INTERNAL_URL: "http://172.17.0.1:8000/univention/internal"
      PORTAL_SERVER_UMC_GET_URL: "http://172.17.0.1:8000/univention/internal/umc/get"
      PORTAL_SERVER_UMC_SESSION_URL: "http://172.17.0.1:8000/univention/internal/umc/get/session-info"
      PORTAL_SERVER_AUTH_SECRET: "univention"

  portal-frontend:
    image: registry.souvap-univention.de/souvap/tooling/images/univention-portal/portal-frontend:latest
    container_name: univention-portal-frontend
    ports:
      - 8080:80

  database:
    image: postgres:12.13-alpine
    container_name: notifications-api-database
    environment:
      POSTGRES_PASSWORD: "devpassword"
      POSTGRES_USER: "dev"
    volumes:
      - type: volume
        source: postgresql-data
        target: /var/lib/postgresql/data
    ports:
      - 5432:5432

  notifications-api:
    image: registry.souvap-univention.de/souvap/tooling/images/univention-portal/notifications-api:latest
    container_name: notifications-api
    restart: on-failure
    depends_on:
      - database
    environment:
      DATABASE_URL: "postgresql://dev:devpassword@database/dev"
      APPLY_DATABASE_MIGRATIONS: true
      ROOT_PATH: "/univention/portal/notifications-api"
    ports:
      - 8096:8080

  keycloak:
    container_name: keycloak
    build:
      context: ./keycloak
    ports:
      - 8097:8080
    environment:
      KEYCLOAK_ADMIN: "admin"
      KEYCLOAK_ADMIN_PASSWORD: "univention"
      PROXY_ADDRESS_FORWARDING: "true"
      KC_PROXY: "edge"
      KEYCLOAK_LOGLEVEL: "ALL"
      ROOT_LOGLEVEL: "ALL"
      # override the following values in .env
      LDAP_BASE: "dc=univention,dc=intranet"
      LDAP_SECRET: "YOUR CONTENT OF /etc/idp-ldap-user.secret"
      LDAP_SERVER: "ldap://UCS_IP:7389"

  reverse-proxy:
    build:
      context: ./nginx
    container_name: univention-portal-dev-reverse-proxy
    env_file: .env
    ports:
      - "${PROXY_PORT}:80"

  # Environment of the pre-commit hook linter
  pre-commit:
    profiles:
      - test
    image: gitregistry.knut.univention.de/univention/customers/dataport/upx/container-pre-commit/upx-pre-commit:latest
    container_name: self-service-api-pre-commit
    environment:
      PIP_CACHE_DIR: /cache/pip
      PRE_COMMIT_HOME: /cache/pre-commit
    working_dir: /code
    volumes:
      - type: bind
        source: .
        target: /code
      - type: volume
        # speed up pre-commit by caching dependencies
        source: pre-commit-cache
        target: /cache

volumes:
  postgresql-data:
  pre-commit-cache:
