---

apiVersion: "v1"
kind: ConfigMap
metadata:
  name: '{{ include "self-service-api.fullname" . }}'
data:
  ENVIRONMENT: "{{ .Values.self_service_api.environment }}"
  OPA_URL: "{{ .Values.self_service_api.opa_url }}"
  UCS_SELFSERVICE_BASE_URL: "{{ .Values.self_service_api.ucs_selfservice_base_url }}"
  UCS_INTERNAL_AUTH_SECRET: "{{ .Values.self_service_api.auth_secret }}"

...
