---

# Deployment-specific values for the `example` environment for self-service-api.
# This is a YAML-formatted file.
# Include the file with the `--values` parameter


## Application-specific
self_service_api:
  environment: "staging"
  opa_url: "http://self-service-opa"
  ucs_selfservice_base_url: "http://univention-corporate-server/univention/internal/umc/"
  auth_secret: "example-secret"
  url_prefix: "/univention/command/passwordreset/"

## Kubernetes ingress
ingress:
  enabled: false
  host: "portal.example.develop.souvap-univention.de"


## Istio based
istio:
  enabled: true
  host: "portal.example.develop.souvap-univention.de"


## Docker image
image:
  tag: "branch-feature-example"


## Container deployment probes
probes:
  liveness:
    enabled: false

  readiness:
    enabled: false

...
